.infoContainer{
    margin-top: 10px;
    padding: 10px;
    width: 95%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 10px;

}

.iBtn{
    padding: 8px;
    background-color: rgb(236, 236, 236);
    border: none;
    border-radius: 5px;

}